---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list fa-ul">
    {% for post in site.posts %}
      <li>
      {% if post.category == "programming" %}
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa-li fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      {% elsif post.category == "design" %}
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa-li fa fa-eye fa-stack-1x fa-inverse"></i>
        </span>
      {% elsif post.category == "music" %}
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa-li fa fa-music fa-stack-1x fa-inverse"></i>
        </span>
      {% else %}
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa-li fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
        </span>
      {% endif %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
