---
layout: default
---

<div class="post-container">
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-row">
        {% if post.category == "programming" %}
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-code fa-stack-1x"></i>
          </span>
        {% elsif post.category == "design" %}
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa fa-eye fa-stack-1x"></i>
          </span>
        {% elsif post.category == "music" %}
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa fa-music fa-stack-1x"></i>
          </span>
        {% else %}
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa fa-pencil-square-o fa-stack-1x"></i>
          </span>
        {% endif %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <span>{{ post.title }}</span>
        </a>
        <span class="post-meta">[{{ post.date | date: "%b %-d, %Y" }}]</span>
        {{ post.content }}
      </li>
    {% endfor %}
  </ul>
</div>
